.footer{
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    height: 8%;
}

.copyrightname{
    font-style: italic;
    position: relative;
}

.icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    position: relative;
    left: 33%;
}

.icons{
    position: absolute;
    left: 88%;
    bottom: 0.5%;
}
